@import "../variables/colors";

.navbar {
    transition: background-color 0.3s ease;
    background-color: $sp-primary;

    &.scrolled {
        background-color: transparentize($sp-primary, 0.04);
    }

    .nav-item.active {
        color: white;
        
        & > .nav-link {
            color: white;
        }
    }
}
