@import "../mixins/corner-cutout";

$staff-spacing: 12px;

.staff {
    $target-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $staff-spacing;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: transparentize(black, 0.7) 0 2px 12px;
    color: var(--color);
    background-color: var(--background-color);
    cursor: pointer;

    & > .staff__avatar {
        width: $target-width;
        height: $target-width;
    }

    & > .staff__title {
        padding: 8px;
        text-align: center;
    }

    & > .staff__dimmer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparentize(black, 0.4);
        display: flex;
        transition: opacity 0.2s ease;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(.active) {
            pointer-events: none;
            opacity: 0;

            & > .staff__biography {
                transform: scale(0.95);
                opacity: 0;
            }
        }

        & > .staff__biography {
            margin: auto;
            width: 600px;
            padding: 12px;
            max-width: 100vw;
            background-color: white;
            color: black;
            border-radius: 4px;
            box-shadow: transparentize(black, 0.85) 0 3px 16px;
            position: relative;
            overflow: hidden;
            transition: opacity 0.4s ease, transform 0.4s ease;
            cursor: initial;

            &:first-child:after {
                content: "";
                @include corner-cutout(20px, var(--background-color));
            }
        }
    }
}

.staff-group {
    & > .staff-group__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        margin: -1 * $staff-spacing;
    }
}
